*{
    margin: 0px;
    padding: 0px;
}
div{
    background-color: cadetblue;
    /* width: 100%; */
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */

    /* ------------------------------------------ */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* ------------------------------------------ */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* ------------------------------------------ */
    /* flex-flow: wrap; */
    /* flex-flow: column-reverse; */
    /* flex-flow: wrap row-reverse; */

    /* ------------------------------------------- */
    /* align-items: start; */
    /* align-items: flex-start; */
    /* align-items: self-start; */

    /* align-items: end; */
    /* align-items: flex-end; */
    /* align-items: self-end; */

    /* align-items: center; */
    /* align-items: first baseline; */
    /* align-items: baseline; */

    /* align-items: last baseline; */
    /* ------------------------------------------ */
}
main{
    flex-grow: 1;
    flex-basis: 120px;
}
.box1{
    background-color: lightcoral;
    /* flex-grow: 1; */
    /* flex-basis: 100px; */
    /* flex-shrink: 10; */
}   
.box2{
    background-color: lightgray;
}   
.box3{
    background-color: lightgreen;
    /* flex-grow: 1.5; */
}   
.box4{
    background-color: lightsalmon;
}   
.box5{
    background-color: lightslategray;
}   
.box6{
    background-color: limegreen;
}   
.box7{
    background-color: darkgoldenrod;
}   
.box8{
    background-color: darkolivegreen;
}   



/* 
    Sat : 8 to 9 PM
    Sun : 7 to 9 PM
*/