div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
}
.box1{
    background-image: linear-gradient(red,yellow);
    /* background-image: linear-gradient(red,yellow,blue,lime); */
}
.box2{
    background-image: linear-gradient(to bottom,red,yellow);
}
.box3{
    background-image: linear-gradient(to top,red,yellow);
}
.box4{
    background-image: linear-gradient(to left,red,yellow);
}
.box5{
    background-image: linear-gradient(to right,red,yellow);
}
.box6{
    background-image: linear-gradient(to bottom right,red,yellow);
}
.box7{
    background-image: linear-gradient(to top right,red,yellow);
}
.box8{
    background-image: linear-gradient(red 0px,red 100px,yellow 100px,yellow);   
}
.box9{
    background-image: linear-gradient(red 0%,red 50%,yellow 50%,yellow);   
}

.box10{
    background-image: linear-gradient(to right, red 0px,red 100px,yellow 100px,yellow);   
}
.box11{
    background-image: linear-gradient(to right, red 0%,red 50%,yellow 50%,yellow);   
}
.box12{
    background-image: linear-gradient(to right bottom, red 0px,red 100px,yellow 100px,yellow);   
}
.box13{
    background-image: linear-gradient(to right bottom, red 0%,red 50%,yellow 50%,yellow);   
}
.box14{
    /* background-image: linear-gradient(red 0px,red 50px,yellow 50px,yellow 100px,red 100px,red 150px,yellow 150px,yellow); */
    background-image: linear-gradient(red 0px,red 50px,yellow 50px,yellow 100px);
}
.box15{
    background-image: repeating-linear-gradient(red 0px,red 50px,yellow 50px,yellow 100px);
}
.box16{
    background-image: repeating-linear-gradient(to left,red 0px,red 50px,yellow 50px,yellow 100px);
}
.box17{
    background-image: repeating-linear-gradient(to left top,red 0px,red 50px,yellow 50px,yellow 100px);
}
/* 
1. linear-gradient
2. repeating-linear-gradient
3. radial-gradient
2. repeating-radial-gradient
1. conic-gradient
2. repeating-conic-gradient
*/